@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url("sKd0EMYPAh5PYCRKSryvW_Y6323mHUZFJMgTvxaG2iE.eot"/*tpa=http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW_Y6323mHUZFJMgTvxaG2iE.eot*/);
}
